@media(max-width:790px)
{
    #div1,#div2
    {
       height: 100px;
       width: auto;
        
    }
    #img1,#img2,#astrimg,#spaceship,#img3,#img3
    {
        height: 200px;

    }
    h1{
        font-size: 70px;
    }
}
@media(min-width:791px)
{
    h1{
        font-size: 100px; 
    }
}

